doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li sample text
      li sample text
      li kfnkwfje
      li.
        hello all
        how are you
    input(type='text').my-class#my-id 
    - var myVal = false
    if myVal
    p output p element
    - var arr1 = ["mad", "man", "dad"]
    each x in arr1
      li= x
    block content
